div.scrollmenu {
    background-color:#B96A75;
    overflow: auto;
    white-space: nowrap;
    font-size:40px;
    position: sticky;
    top:0;
    z-index:1;
    height: 120px;
}
.product{
  width: 190px;
  height: 190px;
  border-radius: 1.25rem;
  padding: 0.5em;

}

.banner:before { 
  display: block; 
  content: " "; 
  margin-top: -35px; 
  height: 105px; 
  visibility: hidden; 
}

  .test_row{
    color:#000000;
    background-color:#EEEEEE;

  
  }

  .td_image{
    align-self: center;
  }
  
  div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 30px;
    text-decoration: none;
    
  }
  
  div.scrollmenu a:hover {
    background-color:#F7B574;
  }

  

  .price {
    font-size:35px;
    padding:.5em;
    text-align:center;
    color: #000000;

  }

  .pic{
    width:190px;
    height:190px;
    border-radius:1.25rem;
    padding:.5em;
  }

  .title{
    text-align:left;
    font-size:35px;
    padding:.5em;
    font-weight:700; 
  }

  .title_no_bold{
    text-align:left;
    font-size:35px;
    padding:.5em;
    color:black;
  }
  
  .titlerow{
    color: #000000;
    background-color:#EEEEEE;
  }

  .title_no_row{
    color: black !important;
  }

  

  .title2row{
    border-bottom:1px solid #000000;
    color:black;
  }

  .title_no_border{
    color: #000000;
  }

  .details{
    text-align:left;
    font-size:35px;
  }

  .banner { 
    scroll-margin-top: 120px; 
  }

  .salates_pic:before { 
    display: block; 
    content: " "; 
    margin-top: -35px; 
    height: 105px; 
    visibility: hidden; 
  }

  .decaf{
    text-align:left;
    font-size:28px;
    padding:.5em;

  }
